Generals.Web/Web References/ServiceReference1/PS9_v01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ps9="http://grupobbva.com.pe/portalinmobiliario/xsd/ps9/" elementFormDefault="qualified" targetNamespace="http://grupobbva.com.pe/portalinmobiliario/xsd/ps9/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ctHeaderRq">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="terminalLogico" type="ps9:stTerminalLogico" />
      <xsd:element minOccurs="0" name="terminalContable" type="ps9:stTerminalContable" />
      <xsd:element name="usuario" type="ps9:stUsuario" />
      <xsd:element minOccurs="0" name="opcionAplicacion" type="ps9:stOpcAplic" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ctHeaderRs">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:string" />
      <xsd:element name="descripcion" type="xsd:string" />
      <xsd:element minOccurs="0" name="aviso" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="stTerminalLogico">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stTerminalContable">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stUsuario">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stOpcAplic">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="ctHeaderRq" type="ps9:ctHeaderRq">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/ctHeaderRq;XSDElementDeclaration$MRObject" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ctHeaderRs" type="ps9:ctHeaderRs">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/ctHeaderRs;XSDElementDeclaration=1$MRObject" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>